#contact-info img{
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

#contact h1{
  color: #408C40;
  font-size: 45px;
  margin: 0;
  font-weight: 600;
  padding: 50px 50px 0px;
}

h3{
  color: #976421;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 25px;
}

#contact .row{
  padding: 20px 50px 50px 50px;
}

#contact-info ul{
  padding: 0;
}

#contact-info li{
  display: block;
}

#contact-info img{
  margin: 15px;
}

.card-contact{
  border-radius: 10px;
  background-color: #F7EDDE;
  padding: 25px;
}

.contact-small{
  width: 100%;
  margin: 0 0 25px;
  padding: 5px;
}

.contact-large{
  width: 100%;
  height: 100%;
  margin: 0 0 25px;
  padding: 5px;
}

.contact-submit{
  width: 100px;
  background-color: #408C40;
  color: white;
  font-weight: 600;
}

form{
  font-size: 15px;
  text-align: center;
}

.contact-hr {
  height: 150px;
}
