h1{
  color: #976421;
  font-size: 50px;
  margin: 0;
  font-weight: 600;
}

h2{
  color: #C9852C;
  font-size: 30px;
  margin: 0;
  padding: 20px 0px;
  font-weight: 300;
}

h5{
  font-size: 30px;
  font-weight: 400;
}

p,li {
  font-size: 18px;
  font-weight: 400;
}

.card-body img{
  margin: 8px;
}

.heading, img{
  background-color: #FBF6EF;
}

.heading-home{
  padding: 50px 50px 0 50px;
}

.attributes{
  background-color: #FBF6EF;
  padding: 0 50px 50px 50px;
  align-content: center;
}
.steps{
  background-color: #FBF6EF;
  padding: 25px;
}

.card .card-attr{
  background-color: white;
  border-radius: 10px;
  width: 260px;
  height: 260px;
  margin: 50px;
  align-content: center;
}

.card-body{
  padding: 25px;
  text-align: center;
}

.atImg{
  height: 80px;
  width: 80px;
  background-color: white;
}

.card .card-step{
  width: 100%;
  margin: 0px;
  align-content: center;
  height: 100%;
  margin-bottom: 25px;
}

.card-img{
  height: 350px;
  background-color: inherit;
}

.card-1{
  background-color: #DEF0D1;
  border-radius: 10px;
}

.card-2{
  background-color: #D3EBC2;
  border-radius: 10px;
}

.card-3{
  background-color: #C8E6B3;
  border-radius: 10px;
}

.card-4{
  background-color: #BCE0A3;
  border-radius: 10px;
}
