body{
  background-color: #FBF6EF;
}

.navbar-brand{
  margin: 0
}

input, button, a{
  display: block;
  margin: 0 50px
}

.footer{
  bottom: 25px;
  left: 0;
  margin: 25px
}

.footer-a{
  display:inline-block;
  margin-right:10px;
}

.nav{
  margin-bottom: 0;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: #dc3545;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: #28a745;
  color: #fff;
}
